.bg-area {
    background-color: tomato;
}

.hero-area {
    background-image: url('https://images.pexels.com/photos/864994/pexels-photo-864994.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=1920');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    min-height: 100vh;
}

.hero-area .hero-text {
    min-height: 100vh;
}

.top-text {
    font-size: 22px;
    font-weight: 600;
    color: tomato;
}

.heading-text {
    font-size: 62px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}

.bottom-text {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}